body{
	margin:0;
	font-family:Arial;
	font-size:12px;
}
.topo{
	height:30px;
	background-color:#333;
	color:#fff
}

.topoint{
	width:100%;
	max-width:1040px;
	height:30px;
	margin:auto;
}
.topoleft{
	width:50%;
	height:30px;
	float:left;
}
.toporight{
	width:50%;
	height:28px;
	float:right;
	text-align:right;
	margin-top:2px;


}
.topoleft ul {
    margin:0;
    padding:0;
    list-style: none;

}
.topoleft li{
	height:30px;
	line-height:30px; 
	float:left;
	margin-left:8px;
	margin-right:8px
}
.topoleft li a {
	text-decoration: none;
	color:#FFF;
}
.topoleft li .ativo{
	color:blue;

}
.topobusca{
	width:110px;
	height:26px;
	outline:0;

}
.toporight a {
	float:right;
}
.toporight input {
	float:right;
}
.toporight img {
	margin-right:4px
}
.topo2 {
	height:95px;
	color:#000;
}
.topo2int{
	width:100%;
	max-width:1205px;
	height:95px;
	float:left;
}
.logo {
	width:230px;
	height:95px;
	float:left;
	margin-left:14%;
	margin-top:5px;

}
.topo2 .banner {
	width:650px;
	height:80px;
	float:right;
	margin-top:7px;
	background-color:#ff0000;
}
.menu {
	height:40px;
	background-color:#F00000;
}
.menuint {
	width:100%;
	max-width:1040px;
	height:40px;
	margin:auto;
}
.menu ul {
	margin:0;
	padding:0;
	list-style: none;
	
}
.menu li {
	float:left;
	height:40px;
	line-height: 40px;
	padding-left:8px;
	padding-left:8px;
}
.menu li:hover .submenu {
	display:block;

}
.menu a {
	color:#fff;
	text-decoration: none;
}
.submenu {
	width:150px;
	height:150px;
	background-color:#ff0000;
	position:absolute;
	display:none;
}
.submenuitem {
	width:150px;
	height:30px;
	padding-left:2px;

}
.submenuitem:hover {
	background-color:#ff5555

}
.ultimasnotícias {
	height:40px;

}
.ultimasnotíciasint {
	width:100%;
	max-width:1040px;
	height:40px;
	margin:auto;

}
.ultnoticiasarea {
	height:28px;
	background-color:#fff;
	border:1px solid #ccc;
	margin-top:10px;
}
.ultnoticiastitulo {
	background-color:#ff0000;
	color:#fff;
	height:28px;
	line-height:28px;
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
	font-size:16px;

}
.ultnoticiasnoticia {
	color:#000;
	height:28px;
	line-height: 28px;
	display:inline-block;
	padding-left:5px;
}
.containerint {
	width:100%;
	max-width:1040px;
	margin:auto;
}
.leftside {
	width:753px;
	float:left;
}
.rightside {
	width:275px;
	min-height:200px;
	float:right;
	margin-left:12px;
}
.widget {
	border: 1px solid #ddd;
	background-color:#FFF;
	margin-bottom:10px;
}
.widget_titulo {
	height:30px;
	background-color:#ddd;
	line-height: 30px;
	border-bottom:1px solid #ddd;

}
.widget_conteudo {
	text-align: center;
	padding-top:5px;
	padding-bottom:5px;
}
.noticias_item {
	font-size:14px;
	margin:0px 10px;
	padding:10px;
	text-align: left;
	border-bottom:1px solid #ccc;
}
.widget_conteudo a {
	text-decoration: none;
	color:#000;
}
.slideshow{
	height:335px;
	background-color:#ccc;
	overflow:hidden;
}
.slideshowarea {
	width:100000px;
	height:335px;
	background-color:#ddd;
	transition:all 1s;

}
.slide {
	height:335px;
    float:left;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.slideinfo {
	height: 70px;
	background-image:url('slideshow_bg.png');
	background-size: auto 70px;
	margin-top: 275px;
}
.slideinfo_titulo {
	font-size: 20px;
	color:#fff;
	padding-top:15px;
	padding-left: 20px;

}

.slideinfo_subtitulo {
	font-size: 13px;
	color:#fff;
	padding-left: 20px;
}
.slidebolinhas{
	position: absolute;
	width:200px;
	height:20px;
}
.bolinha {
	width:20px;
	height:20px;
	float:left;
	margin-right:5px;
	cursor:pointer;
	background-color: #ccc;
	border-radius:10px;
}
